<!DOCTYPE html>
<html>
<head>
<style>
  body { min-width: 450px; background: #fff; }
  #widgets table { width: 100%; border-collapse: collapse; }
  #widgets th,td { padding: 5px 7px; border: solid 1px #ccc; }
  .url { display: block; width: 300px; overflow: hidden;
         white-space: nowrap; text-overflow: ellipsis; }
  small { color: #777 }
</style>
<script src="lib/tmpl.js"></script>
</head>
<body>
  <div style="float:left">
    <button type="button" id="check_widget">현재 페이지에 설치된 위젯 검사</button>
  </div>
  <div style="float:right">
    <small>* 데이터가 이상하면 페이지 새로고침 후 시도해주세요.</small>
  </div>
  <div style="clear:both"></div>
  <br>
  <div id="widgets">
  </div>

<script type="text/html" id="widgets_tmpl">
<table>
  <thead>
    <tr>
      <th>위젯ID</th>
      <th>위젯URL</th>
      <th>높이</th>
    </tr>
  </head>
  <tbody>
    <% if (widgets.length > 0) { %>
      <% for (var i=0; i<widgets.length; i++) { %>
        <tr>
          <td><a href="#" class="widget_id" data-widget_id="<%= widgets[i].widget_id
              %>"><%= widgets[i].widget_id %></a></td>
          <td><a href="<%= widgets[i].url %>&debug=1" class="url" target="_blank">
              <%= widgets[i].url %>&debug=1</a></td>
          <td><%= widgets[i].height %>px</td>
        </tr>
      <% } %>
    <% } else { %>
      <tr>
        <td colspan="3" style="text-align:center">설치된 위젯 없음</td>
    <% } %>
  </tbody>
</table>
</script>
<script src="popup.js"></script>

</body>
</html>
